body {
    background-color: rgb(231, 229, 229);
}

input {
    padding: 7px;
    margin-right: 20px;
    margin-left: 10px;
}

.top-container {
    display: flex;
    align-items: flex-end;
}

.total-candidates {
    color: #3977d4;
    font-weight: bold;
}

.sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
    margin-top: 30px;
}

select {
    padding: 6px;
    border-radius: 5%;
    margin-left: 5px;
}

label {
    font-size: 16px;
    font-weight: 500;
}

#cards-container {
    margin-top: 20px;
}